/* intro */

.centeralign {
    display: grid;
    place-items: center;
}

.sommertilbud {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    place-items: center;
}

.reklamegrid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    width: 100%;
}

.item1 {
    grid-column: 1/span 30;
    grid-row: 1/span 30;
    width: 100%;
    height: auto;
    grid-column: 2;
}

.item2 {
    grid-column: 1;
    grid-row: 1;
}

/* yummies */

.yummies {
    background: #F58633;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr;
}

.yummies-title {
    display: grid;
    place-items: center;
}

/* image grid */

.griddefine {
    display: grid;
    grid-template-rows: 500px;
    place-items: center;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 900px) {
    .griddefine {
        gap: .5em;
    }
}

@media only screen and (max-width: 700px) {
    .griddefine {
        grid-template-columns: 1fr 1fr;
    }
}

[data-img] {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.imggrid {
    object-fit: cover;
    aspect-ratio: 6/9;
    width: inherit;
    height: inherit;
    grid-column: 1;
    grid-row: 1/span 2;
}

.downloadbtn {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    z-index: 33;
    font-size: 40px;
    font-weight: bolder;
    color: whitesmoke;
    background: tomato;
}

@media only screen and (max-width: 700px) {
    .downloadbtn {
        font-size: 20px;
    }
}

.sale {
    grid-column: 1;
    grid-row: 1;
    z-index: 22;
    font-size: 33px;
    color: black;
    font-weight: bolder;
    background: #ffff00d0;
}

@media only screen and (max-width: 700px) {
    .sale {
        font-size: 16px;
    }
}

.salesimg {
    filter: hue-rotate(311deg) contrast(200%);
}

.sold {
    grid-column: 1;
    grid-row: 1;
    z-index: 22;
    font-size: 33px;
    color: black;
    font-weight: bolder;
    background: #ffff00d0;
}

@media only screen and (max-width: 700px) {
    .sold {
        font-size: 16px;
    }
}

.soldimg {
    filter: blur(4px) grayscale(100%);
}

/* galleri */

img {
    width: 300px;
    height: 200px;
}

#GalleriContainer {
    width: 300px;
    margin: auto;
    text-align: center;
}

.galleriogtekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.galleridiv1 {
    width: 50%;
}

#Galleri {
    width: 160%;
    background-color: #000;
    position: relative;
    left: 0px;
    top: 0px;
}

.favorite {
    background: #FBB731;
    color: black;
}

#KnapTilbage, #KnapFrem {
    cursor: pointer;
    background-color: #FFF;
}

#GalleriBillede {
    width: 100%;
    height: auto;
}

#GalleriThumbnails {
    display: inline-block;
    margin-left: 10px;
}

#GalleriThumbnails a {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    border-radius: 50%;
}