input {
    border: 1px solid #0C4C7B;
}

#nyhedsbrev {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 20px 20px 20px;
    gap: 5px;
    background: rgb(177, 177, 0);
    padding-bottom: 40px;
}


.nyhedsbrev-titel {
    grid-column: 1/span 2;
    grid-row: 1;
}

.nyhedsbrev-navn {
    grid-column: 1;
    grid-row: 2;
}

.nyhedsbrev-navn-fejl {
    grid-column: 1/span 2;
}

.nyhedsbrev-navn-input {
    grid-column: 2;
    grid-row: 2;
}

.nyhedsbrev-telefon {
    grid-column: 1;
    grid-row: 3;
}

.nyhedsbrev-telefon-fejl {
    grid-column: 1/span 2;
}

.nyhedsbrev-telefon-input {
    grid-column: 2;
    grid-row: 3;
}

.nyhedsbrev-Mail {
    grid-column: 1;
    grid-row: 4;
}

.nyhedsbrev-mail-fejl {
    grid-column: 1/span 2;
}

.nyhedsbrev-mail-input {
    grid-column: 2;
    grid-row: 4;
}

.nyhedsbrev-button {
    grid-column: 1/span 2;
    background:#FBB731;
    font-size: 33px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 15px;
}